<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Error</title>
  <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
  <style>
        h3{
        text-align:center;
        color:white;
        }
        p{
        text-align:center;
        color:white;
        }
        small{
        text-align:center;
        color:white;
        }
    </style>
</head>
<body style="background-color:rgb(15,34,51)">

<div class="container">
  <h3>Oops, something went wrong!</h3>

  <p>You don't have the authority to visit this page, please try another one.</p>

  <p style="color:white;">(Forbidden page error 403)</p>
</div>

</body>
</html>