<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <style>
        h3{
        text-align:center;
        color:white;
        }
        p{
        text-align:center;
        color:white;
        }
        small{
        text-align:center;
        color:white;
        }
    </style>
</head>
<body style="background-color:rgb(15,34,51)">

<div class="container">
    <h3>Oops, something went wrong!</h3>

    <p>We can't find the page you are trying to visit, please try another one!</p>

    <p>(Not found error 404)</p>
</div>

</body>
</html>